:root {
  --darkBlue: "#2E6799";
  --mediumBlue: "#3F86C5";
  --lightBlue: "#B8D3EA";
  --darkGray: "#343434";
}

* {
  font-family: Inter, sans-serif !important;
  margin: 0;
  padding: 0;
}

.privateInstructorGradient {
  background: linear-gradient(
    101.14deg,
    rgba(46, 103, 153, 0.41) 6.13%,
    rgba(184, 211, 234, 0.41) 69.22%
  ) !important;
}

.notificationGradient {
  background: linear-gradient(
      129.28deg,
      rgba(46, 103, 153, 0.41) 8.88%,
      rgba(227, 238, 247, 0.41) 112.78%,
      rgba(184, 211, 234, 0.41) 125.53%
    ),
    #ffffff !important;
}

.eventsGradient {
  background: linear-gradient(
    101.14deg,
    rgba(46, 103, 153, 0.41) 6.13%,
    rgba(184, 211, 234, 0.41) 69.22%
  ) !important;
}

.repertoireItemGradient {
  background: linear-gradient(
      273.2deg,
      rgba(46, 103, 153, 0.43) 9.99%,
      rgba(227, 238, 247, 0.43) 122.79%,
      rgba(184, 211, 234, 0.43) 127.06%
    ),
    #ffffff !important;
}

.eventsSignupItemGradient {
  background: linear-gradient(
    101.14deg,
    rgba(46, 103, 153, 0.41) 6.13%,
    rgba(184, 211, 234, 0.41) 69.22%
  ) !important;
}

.font-weight-semi-bold {
  font-weight: 600 !important;
}

.studentItemGradient {
  background: linear-gradient(
      273.2deg,
      rgba(46, 103, 153, 0.43) 9.99%,
      rgba(227, 238, 247, 0.43) 122.79%,
      rgba(184, 211, 234, 0.43) 127.06%
    ),
    #ffffff !important;
}

.searchGradient {
  background: linear-gradient(
    101.14deg,
    rgba(46, 103, 153, 0.41) 6.13%,
    rgba(184, 211, 234, 0.41) 69.22%
  ) !important;
}

.selectedSong {
  /* box-shadow: 8px 10px 34px rgba(63, 134, 197, 0.4) !important; */
  background: linear-gradient(
    101.14deg,
    rgba(46, 103, 153, 1) 6.13%,
    rgba(184, 211, 234, 1) 69.22%
  ) !important;
}

.unSelectedSong {
  background: linear-gradient(
    101.14deg,
    rgba(46, 103, 153, 0.41) 6.13%,
    rgba(184, 211, 234, 0.41) 69.22%
  ) !important;
  /* box-shadow: none !important; */
}

.loginBlur {
  background: linear-gradient(
    101.14deg,
    rgba(46, 103, 153, 1) 6.13%,
    rgba(184, 211, 234, 1) 69.22%
  ) !important;
  box-shadow: 8px 10px 34px rgba(63, 134, 197, 0.4) !important;
}

.buttonGradient {
  background: linear-gradient(90deg, #3f86c5 29.2%, #b8d3ea 150%) !important;
}

.buttonCancel {
  background-color: #da9b9b !important;
  color: white !important;
}

.buttonWhite {
  background: #ffffff !important;
}

/* This is the main blur used on all items that have it. Use this inplace of Vuetify bluring */
.mainBlur {
  box-shadow: 8px 10px 34px rgb(0 0 0 / 0.19) !important;
}

.lighterBlur {
  box-shadow: 8px 10px 34px 2px rgba(0, 0, 0, 0.1) !important;
}

.rightBorderCurve {
  border-radius: 0 9px 9px 0 !important;
}

/* Instead of this, you can use 'rounded-lg */
.fullBorderCurve {
  border-radius: 9px !important;
}

.borderTest {
  border-color: #b8d3ea !important;
  border-width: 8px 8px 8px 0 !important;
  border-radius: 0 12px 48px 0 !important;
}

.bottomRightBorderDeepCurve {
  border-radius: 9px 9px 24px 9px !important;
}

.clearPadMarg {
  padding: 0 !important;
  margin: 0 !important;
}

.v-btn {
  letter-spacing: 0.25px !important;
}

.v-select {
  background: linear-gradient(
    101.14deg,
    rgba(46, 103, 153, 0.41) 6.13%,
    rgba(184, 211, 234, 0.41) 69.22%
  ) !important;

  border-radius: 9px !important;
  /* color: #3f86c5 !important; */

  padding: 6px 0 6px 0;
}

.v-select .v-input__details {
  display: none !important;
}

.v-select .v-field__outline {
  display: none !important;
}

.v-select .v-field__overlay {
  display: none !important;
}

.v-select .v-field__input {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: auto !important;
  align-items: center !important;
}

.v-select .v-field__field {
  align-items: center !important;
}

.v-select .v-field__append-inner {
  padding-top: 0px !important;
}

.v-input {
  background: linear-gradient(
    101.14deg,
    rgba(46, 103, 153, 0.41) 6.13%,
    rgba(184, 211, 234, 0.41) 69.22%
  ) !important;

  border-radius: 9px !important;
  /* color: #3f86c5 !important; */

  padding: 6px 0 6px 0;
}

.v-input .v-input__details {
  display: none !important;
}

.v-input .v-field__outline {
  display: none !important;
}

.v-input .v-field__overlay {
  display: none !important;
}

.v-input .v-field__input {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: auto !important;
  align-items: center !important;
}

.v-input .v-field__field {
  align-items: center !important;
}

.v-input .v-field__append-inner {
  padding-top: 0px !important;
}

.v-input .v-input__append {
  padding: 0.25rem 1rem 0.25rem 0 !important;
}

/* .v-input--density-default {
  padding: 0;
} */
