:root {
  --darkBlue: "#2E6799";
  --mediumBlue: "#3F86C5";
  --lightBlue: "#B8D3EA";
  --darkGray: "#343434";
}

* {
  font-family: inter, sans-serif;
  margin: 0;
  padding: 0;
}

.notificationGradient {
  background: linear-gradient(
      129.28deg,
      rgba(46, 103, 153, 0.41) 8.88%,
      rgba(227, 238, 247, 0.41) 112.78%,
      rgba(184, 211, 234, 0.41) 125.53%
    ),
    #ffffff;
}

.eventsGradient {
  background: linear-gradient(
    101.14deg,
    rgba(46, 103, 153, 0.41) 6.13%,
    rgba(184, 211, 234, 0.41) 69.22%
  );
}

.repertoireItemGradient {
  background: linear-gradient(
      273.2deg,
      rgba(46, 103, 153, 0.43) 9.99%,
      rgba(227, 238, 247, 0.43) 122.79%,
      rgba(184, 211, 234, 0.43) 127.06%
    ),
    #ffffff;
}

/* This is the main blur used on all items that have it. Use this inplace of Vuetify bluring */
.mainBlur {
  box-shadow: 8px 10px 34px rgb(0 0 0 / 0.19) !important;
}

.rightBorderCurve {
  border-radius: 0 9px 9px 0 !important;
}

/* Instead of this, you can use 'rounded-lg */
.fullBorderCurve {
  border-radius: 9px !important;
}

.borderTest {
  border-color: #b8d3ea !important;
  border-width: 8px 8px 8px 0 !important;
  border-radius: 0 12px 48px 0 !important;
}

.bottomRightBorderDeepCurve {
  border-radius: 9px 9px 24px 9px !important;
}

.clearPadMarg {
  padding: 0 !important;
  margin: 0 !important;
}
